body
{
    font-family: "press start 2P";
    background-color: lightgray;
    color: #060801;
}
.panel
{
    background-color:lightslategray ;
    border-radius: 5px 5px 40px 5px;
}
.screen
{
    background-color: #9bbc0f;
    color: white;
    text-shadow: #6b7447 2px 2px;
}
@keyframes blink
{
    0% {opacity: 0%;}
    50% {opacity: 100%;}
    100% {opacity: 0%}
}
#anm
{
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.lgText
{
    font-weight: 100;
    font-size: 18pt;
}
.mdText
{
    font-size: 14pt;
}
.smText
{
    font-size: 12pt;
}